---
interface Props {
    userName: string;
    userAvatar?: string;
    message: string;
    timestamp: Date;
}

const { userName, message, timestamp } = Astro.props;
let { userAvatar } = Astro.props;
if (!userAvatar) {
    userAvatar = "https://cdn.discordapp.com/embed/avatars/0.png";
}

const time = new Date(timestamp).toLocaleTimeString([], {
    hour: "2-digit",
    minute: "2-digit",
});


---

<div class="border-b border-gray-600 py-3 flex items-start mb-4 text-sm">
    <img
        src={userAvatar}
        class="cursor-pointer w-10 h-10 rounded-3xl mr-3"
        alt={userName+"'s avatar"}
    />
    <div class="flex-1 overflow-hidden">
        <div>
            <span class="font-bold text-red-300 cursor-pointer hover:underline">{userName}</span>
            <span class="font-bold text-gray-400 text-xs">{time}</span>
        </div>
        <p class="text-white leading-normal">{message}</p>
    </div>
</div>